@{

}

<div>

    <div class="row">

        @{

            foreach (FirstASP.Models.Type t in ViewBag.data)
            {
                string picture = "/Images/" + @t.type + ".jpg";
                picture = picture.Replace(" ", string.Empty);
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4" >
                    <p><a href="/Home/Goods/?n=@t.id">@t.type</a></p>
                    <a a href="/Home/Goods/?n=@t.id">
                        <img src="@picture" alt="Логотип"
                             width="200" class="logo">
                    </a>
                </div>
            }

        }


    </div>

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog">
        </div>
    </div>

    <style>
        p {
            text-align: center;
        }
    </style>

</div>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")